@media (min-width: 1025px) {
  .button {
    transition: all 0.3s;
    &:hover {
      background: #eb443f;
    }
  }
  .game-box__img {
    transition: ease 0.1s;
    border-radius: 18px;
    &:hover {
      border: 3px solid #44d2ff;
      border-radius: 18px;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .center {
    padding-left: calc(50% - 788px / 2);
    padding-right: calc(50% - 788px / 2);
  }
  .game-box {
    display: flex;
    justify-content: center;
  }

  .games {
    height: 1200px;
    flex-direction: column;
    padding-bottom: 150px;
    &__content {
      display: flex;
      flex-direction: column;
    }
  }
}
