html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, #000915 100%), url(./img/images/background_1.jpg), lightgray 50%/cover no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 217px;
}
.top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  padding-bottom: 32px;
}
.top__text {
  max-width: 481px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  padding-bottom: 44px;
}
.top__thumbnail {
  font-weight: 700;
}

.game-box {
  padding-bottom: 128px;
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 128px;
}
.game-box__link {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 378px;
  height: 300px;
}
.game-box__img {
  border-radius: 18px;
  height: 100%;
  width: 100%;
}
.game-box__text {
  position: absolute;
  left: 32px;
  bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

.games {
  height: 800px;
  background-color: #000915;
  padding-top: 233px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.games__content {
  padding-top: 49px;
}
.games__heading {
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}
.games__text {
  padding-bottom: 32px;
  max-width: 584px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
}
.games__logo {
  background: url(./img/images/1_game.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 485px;
  height: 333px;
}
.games__logo_2 {
  background: url(./img/images/2_game.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-3 {
  height: 800px;
  background: url(./img/images/game_background_2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 276px;
}
.game-3__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-3__heading {
  padding-bottom: 32px;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.game-3__text {
  padding-bottom: 32px;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

.bottom {
  background: #000915;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}

.button {
  display: block;
  width: 234.06px;
  height: 48.6px;
  padding: 13px 74px 13px;
  background: #9c0332;
  border-radius: 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
}

@media (min-width: 1025px) {
  .button {
    transition: all 0.3s;
  }
  .button:hover {
    background: #eb443f;
  }
  .game-box__img {
    transition: ease 0.1s;
    border-radius: 18px;
  }
  .game-box__img:hover {
    border: 3px solid #44d2ff;
    border-radius: 18px;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .center {
    padding-left: calc(50% - 394px);
    padding-right: calc(50% - 394px);
  }
  .game-box {
    display: flex;
    justify-content: center;
  }
  .games {
    height: 1200px;
    flex-direction: column;
    padding-bottom: 150px;
  }
  .games-2 {
    flex-direction: column-reverse;
  }
  .games__content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    text-align: center;
  }
  .top__text {
    text-align: center;
  }
  .game-box {
    display: flex;
    justify-content: center;
  }
  .games {
    height: 1200px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
  }
  .games-2 {
    flex-direction: column-reverse;
  }
  .games__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .games__heading {
    text-align: center;
  }
  .games__text {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background: url(./img/mobile_images/top_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 238px;
    display: flex;
    justify-content: center;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .game-box {
    display: flex;
    justify-content: center;
  }
  .game-box__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .games {
    height: 653px;
    padding-top: 51px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 85px;
  }
  .games-2 {
    flex-direction: column-reverse;
  }
  .games__content {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .games__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .games__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .games__logo {
    width: 344px;
    height: 236px;
  }
  .game-3 {
    height: 800px;
    background: url(./img/mobile_images/game_3_backgrownd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 51px;
  }
  .game-3__heading {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  .game-3__text {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
}/*# sourceMappingURL=styles.css.map */