html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background: url(./images/background_1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 217px;
}
.top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
  padding-bottom: 32px;
}
.top__text {
  max-width: 481px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  padding-bottom: 44px;
}
.top__thumbnail {
  font-weight: 700;
}
.top__button {
  display: block;
  width: 234.06px;
  height: 48.6px;
  padding: 13px 74px 13px 74px;
  background: #9c0332;
  border-radius: 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
}

.game-box {
  padding-bottom: 128px;
  background: #000915;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 128px;
}
.game-box__link {
  display: block;
  box-sizing: border-box;
  position: relative;
  width: 378px;
  height: 300px;
}
.game-box__img {
  border-radius: 18px;
  height: 100%;
  width: 100%;
}
.game-box__text {
  position: absolute;
  left: 32px;
  bottom: 32px;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

@media (min-width: 1025px) {
  .top__button {
    transition: all 0.3s;
  }
  .top__button:hover {
    background: #eb443f;
  }
  .game-box__img {
    transition: ease 0.1s;
  }
  .game-box__img:hover {
    border: 3px solid #44d2ff;
    border-radius: 18px;
  }
}
@media (min-width: 1025px) and (max-width: 1366px) {
  .center {
    padding-left: calc(50% - 394px);
    padding-right: calc(50% - 394px);
  }
  .game-box {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: 32px;
    padding-right: 32px;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    text-align: center;
  }
  .top__text {
    text-align: center;
  }
  .game-box {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
    background: url(./mobile_images/top_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 238px;
    display: flex;
    justify-content: center;
  }
  .top__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .top__text {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .game-box {
    display: flex;
    justify-content: center;
  }
  .game-box__img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=styles.css.map */