.button {
  display: block;
  width: 234.06px;
  height: 48.6px;
  padding: 13px 74px 13px;
  background: #9c0332;
  border-radius: 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border: none;
}
